.footer{
    background-color: #222;
    color: #FFF;
    padding: 1.2em;
    text-align: center;
}

.socialMedia_list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.socialMedia_list li {
    margin: 0 1em;
}

.socialMedia_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.socialMedia_list li:hover{
    color: #FFBB33;
}

.copyRight{
    margin-top: 1em;
}

.copyRight span{
    font-weight: bold;
    color: #ffbb33;
    
}